<div class="row">
	<div class="large-4 medium-8 small-12 large-centered columns">
		<h5>Login</h5>
    </div>
    <form action="/jukebox/auth/{{jukeboxId}}" method="POST">
		<div class="row">
			<div class="large-4 medium-8 small-12 large-centered columns">
		        <label>Password</label>
				<input id="password" name="password" type="password" />
			</div>
		</div>
		<div class="row">
		    <div class="large-4 medium-8 small-12 large-centered columns">
		       	<div class="expanded stacked-for-small button-group">
		      		<button type="success" class="button">Login</button>
				</div>
		    </div>
		</div>
	</form>
</div>