<div class="row">
  <div class="large-6 medium-10 small-10 columns">
    <h5>{{model.name}}</h5>
    <p>{{model.description}}</p>
    
  </div>
  <div class="large-6 medium-10 small-10 columns">
    <h5>Number of listeners: {{model.numberOfListeners}}</h5>
  </div>
</div>
<div class="row">
  <hr />


  <div clas="row">

    <div class="large-12 medium-10 small-10 small-centered columns">
      <div class="row">
        <h5>Song search</h5>
        <hr />
        <div class="large-12 medium-12 small-12 large-centered columns">
          <div class="input-group ui-widget">
            <span class="input-group-label">$</span>
            <input id="searchBox" class="input-group-field" type="text">
            <div class="input-group-button">
              <input type="submit" class="button" value="Search">
            </div>
          </div>
        </div>
        <div class="autocomplete-list-items">
        </div>
        <hr />
      </div>
    </div>
  </div>

  <div class="row">  

    <div class="large-4 medium-4 small-10 columns">
      <div class="row">
        <div class="large-12 medium-10 small-10 small-centered columns">
          <input type="button" id="play" class="success button" value="Play"></input>
          <input type="button" id="pause" class="warning button" value="Pause"></input>
          <input type="button" id="stop" class="alert button" value="Stop"></input>
          <input type="button" id="load" class="alert button" value="Load next"></input>
        </div>
      </div>

      <div class="row">
        <div class="large-12 medium-12 small-10 small-centered columns">
          <div id="player"></div>
        </div>
      </div>
    </div>
   	<div class="large-8 medium-8 small-10 columns">
  	  <div class="row">
  		  <h3>up next...</h3>
  		</div>
  		
  		<div id="songQueue" class="row">
        <div id="emptyListRow" class="row">
          <div class="media-object">
            <div class="callout">
              <h5>No songs in the queue...</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="context-menu" class="context-menu">
  <ul class="context-menu__items">
    <li class="context-menu__item">
      <a href="#" class="context-menu__link" data-action="PlayNow">Play Now</a>
    </li>
    <li class="context-menu__item">
      <a href="#" class="context-menu__link" data-action="PlayNext">Play Next</a>
    </li>
    <li class="context-menu__item">
      <a href="#" class="context-menu__link" data-action="Remove">Remove song</a>
    </li>
  </ul>
</div>