<div class="media-object song-detail-item">
	<div class="media-object-section">
		<div class="thumbnail">
			<img src= "{{albumArt}}">
		</div>
	</div>
	<div class="media-object-section">
		<h4>{{songArtist}} - {{songTitle}} {{songDuration}}</h4>
	</div>
</div>