<div class="row" data-equalizer>
  <div class="large-4 medium-4 columns panel" data-equalizer-watch>
	  <h5>Create a Jukebox</h5>
	  <p>With Jukebox you can create a playlist that you or anybody can add songs or videos to from popular sources like Youtube and spotify.</p>
	  <a href="#" class="small button">Go to Foundation Docs</a>
	</div>

	<div class="large-4 medium-4 columns panel" data-equalizer-watch>
	  <h5>Listen to a Jukebox</h5>
	  <p>You can select from a list of live and public Jukeboxes playing right now.</p>
	  <a href="#" class="small button">Go to Foundation Docs</a>
	</div>

	<div class="large-4 medium-4 columns panel" data-equalizer-watch>
	  <h5>Play a song on the Jukebox</h5>
	  <p>Once you join a live Jukebox you can join in by queing up one of your favourite songs.</p>
	  <a href="#" class="small button">Go to Foundation Docs</a>
	</div>
</div>