<div class="row">
	<div class="large-4 medium-8 small-12 large-centered columns">
       	<h5>Create a Jukebox</h5>
    </div>
    <form>
    	<div class="row">
		    <div class="large-4 medium-8 small-12 large-centered columns">
		        <label>Jukebox name</label>
		        <input type="text" placeholder="Ross' Jukebox" />
		    </div>
		</div>
		<div class="row">
		 	<div class="large-4 medium-8 small-12 large-centered columns">
		  		<label>Is this a public Jukebox?</label>
		  		<div class="switch">
  					<input class="switch-input" id="exampleSwitch" type="checkbox" name="exampleSwitch">
  					<label class="switch-paddle" for="exampleSwitch">
	    				<span class="show-for-sr">Is this a public Jukebox?</span>
	    				<span class="switch-active" aria-hidden="true">Yes</span>
    					<span class="switch-inactive" aria-hidden="true">No</span>
  					</label>
				</div>
			</div>
		</div>
		<div class="row">
         	<div class="large-4 medium-8 small-12 large-centered columns">
          		<label>Jukebox description</label>
          		<textarea rows="4" placeholder="Describe the kind of music you will or would like to hear in this Jukebox."></textarea>
          	</div>
        </div>
        <div class="row">
        	<div class="large-4 medium-8 small-12 large-centered columns">
           		<label>Who can queue music?</label>
           		<input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Only me</label>
           		<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">All Listeners</label>
           		<input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Only those I allow</label>
        	</div>
        </div>
        <div class="row">
			<div class="large-4 medium-8 small-12 large-centered columns">
				<label>Jukebox password</label>
		        <input type="password" />
		    </div>
		</div>
		<div class="row">
		    <div class="large-4 medium-8 small-12 large-centered columns">
		       	<div class="expanded stacked-for-small button-group">
		       		<button type="success" class="success button">Create Jukebox</button>
  				 	<button type="reset" class="button">Clear form</button>
				</div>
		    </div>
		</div>
	</form>
</div>