    <div class="row">

    	<div class="large-12 medium-12 small-12 large-centered columns">
        	<h5>Register</h5>
        </div>
        <div class="row">
        	<div class="large-12 medium-12 small-12 large-centered columns">
        	<h6>Register with...</h6>
		       	<div class="button-group centered">
  				 	<a href="/users/facebook" class="button">Facebook</a>
  					<a href="/users/spotify" class="success button">Spotify</a>
  					<a href="#" class="alert button">Google+</a>
				</div>
	        </div>
	    </div>
        {{#if errors}}
        	<div class="large-12 medium-12 small-12 large-centered columns">
        		<div class="alert callout">
        			<ul>
		        		{{#each errors}}
			        	    <li class="alert">{{msg}}</li>
			        	{{/each}}
		        	</ul>
		        </div>
        	</div>
    	{{/if}}
    	<form action="/users/register" method="POST">
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Email Address</label>
		              <input id="emailAddress" name="emailAddress" type="email" placeholder="name@domain.com" />
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>First Name</label>
		              <input id="firstName" name="firstName" type="text" placeholder="Dave" />
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Last Name</label>
		              <input id="lastName" name="lastName" type="text" placeholder="Smith" />
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Gender</label>
		              <select id="gender" name="gender">
		                <option value="0">Male</option>
		                <option value="1">Female</option>
		              </select>
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Date of birth</label>
		              <input id="dateOfBirth" name="dateOfBirth" type="text" class="span2" value="23/12/1989" autocomplete="off">
		              <!--<input id="dateOfBirth" name="dateOfBirth" type="date" value="{{model.dateOfBirth}}" />-->
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Password</label>
		              <input id="password" name="password" type="password" autocomplete="off" />
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		              <label>Repeat password</label>
		              <input id="repeatPassword" name="repeatPassword" type="password" autocomplete="off" />
		            </div>
		          </div>
		          <div class="row">
		            <div class="large-4 medium-8 small-12 large-centered columns">
		            	<div class="expanded stacked-for-small button-group">
  							<button type="submit" class="success button">Register</button>
  						 	<button type="reset" class="alert button">Reset</button>
						</div>
		            </div>
		          </div>
		        </div>
	        </div>
        </form>
    </div>