@import "scss/foundation.scss";
@include foundation-everything;

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
}

a {
}

.container-narrow > hr {
  margin: 30px 0;
}

#main-menu {
  ul {

    li {
    }
  }
}

.container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

.ui-helper-hidden-accessible{display:none}

.autocomplete-list-items {
  height: 100%;

  ul {
    list-style-type: none;

    li {
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}
